@font-face {
    font-family: 'HelveticaLight';
    src: url("../fonts/HelveticaLight.eot")
}

@font-face {
    font-family: 'HelveticaRegular';
    src: url("../fonts/HelveticaRegular.eot")
}


@font-face {
    font-family: 'MuseoSans';
    src: url("../fonts/MuseoSans.otf")
}